.productWrap {
  background-color: #ebedee;
  padding: 50px;
}

.productWrap2 {
  width: 100%;
}

.product {
  /* border: solid red 3px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px 70px;
  gap: 30px;
}

.productPicture {
  /* border: solid 3px blue; */
  width: 50%;
}

.productPicture > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.productDescription {
  /*  border: solid 3px blue; */
  width: 50%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.4;
}

.price {
  font-size: 26px;
}

.productDetailWrap {
  /* border: green solid 3px; */
  display: flex;
}

.productDetailCriteria {
  /* border: red solid 3px; */
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 50%;
  color: #626e80;
  font-size: 15px;
}

.productDetail {
  /* border: red solid 3px; */
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 7px;
  font-weight: 500;
  font-size: 15px;
}
