.small {
  background-color: #007782;
  border: solid 1px #007782;
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.small:hover {
  cursor: pointer;
}

.medium {
  background-color: #007782;
  border: solid 1px #007782;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.medium:hover {
  cursor: pointer;
}

.buttonRed {
  background-color: rgb(184, 3, 3);
  border: none;
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttonRed:hover {
  cursor: pointer;
}

.mediumPay {
  background-color: #007782;
  border: solid 1px #007782;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.mediumPay:hover {
  cursor: pointer;
}
