.offerWrap {
  flex: 0 0 20%;
  /* border: grey solid 3px; */
  flex-shrink: 0;
}

.offerWrap:hover {
  cursor: pointer;
}

.offerPicture {
  /* border: solid 3px green; */
  height: 360px;
  width: 100%;
}

.offerPicture > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.offerPrice {
  /* border: solid 3px green;*/
  padding-top: 15px;
  padding-left: 20px;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.offerDesc {
  /* border: solid 3px green; */
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #9cacc4;
  padding: 15px 10px;
}
